## Json(Javascript Object Notation)

### Loading Json file (from Github) 
- with Python as Jason file 
- with Pandas
   

### Json file Intro:
- format `{key, value}`, or `[{key, value},{key, value}...]`
- More Basic Intro: [Json](https://www.copterlabs.com/json-what-it-is-how-it-works-how-to-use-it/)

### Load Jason: Pandas + Git hub link
- git hub link: click raw of the file on github, copy the link
- [Load Json into Pandas]( (https://chrisalbon.com/python/data_wrangling/load_json_file_into_pandas/)
    - `pd.read_json(url, orient='columns')`

In [2]:
import pandas as pd

In [12]:
# File url (click raw of the file on github, copy the link) or local file path
url = 'https://raw.githubusercontent.com/learn-co-curriculum/nearest-neighbors-lab/master/trips.json'

In [8]:
# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient='columns')

In [11]:
df.head(3)

,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,imp_surcharge,mta_tax,passenger_count,payment_type,pickup_datetime,pickup_latitude,pickup_longitude,rate_code,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,trip_distance,vendor_id
0,2014-11-26T22:31:00.000,40.746770,-73.997450,52.0,0.0,0.5,1,CSH,2014-11-26T21:59:00.000,40.644990,-73.781150,2,NaN,0.0,5.33,57.83,18.38,VTS
1,2014-02-22T17:54:37.000,40.781845,-73.979073,7.5,0.0,0.5,1,CSH,2014-02-22T17:47:23.000,40.766931,-73.982098,1,N,0.0,0.00,8.00,1.30,CMT
2,2014-04-06T04:07:34.000,40.726610,-73.995955,15.5,0.5,0.5,1,CRD,2014-04-06T03:51:59.000,40.777730,-73.951902,1,N,3.3,0.00,19.80,4.50,CMT

### Load Json: Local + Python 

- [Download Json file from Github](https://www.google.com/search?q=how+to+download+a+file+from+github&rlz=1C5CHFA_enUS773US773&oq=how+to+download+a+file&aqs=chrome.1.69i57j0l5.8141j0j7&sourceid=chrome&ie=UTF-8#kpvalbx=1)
    - raw + save as
    - (alternative) Github gist
    
- load with `json library`,`open`,`json.load`

In [21]:
import json
# First, read the local file
trips_file = open('data_trips.json') #open(url)
# Then, convert contents to list of dictionaries 
trips = json.load(trips_file)

In [23]:
trips_file2 = open(url) #does not work

FileNotFoundError: [Errno 2] No such file or directory: 'https://raw.githubusercontent.com/learn-co-curriculum/nearest-neighbors-lab/master/trips.json'

In [15]:
len(trips)

1000

In [18]:
trips[0:2]

[{'dropoff_datetime': '2014-11-26T22:31:00.000',
  'dropoff_latitude': '40.746769999999998',
  'dropoff_longitude': '-73.997450000000001',
  'fare_amount': '52',
  'imp_surcharge': '0',
  'mta_tax': '0.5',
  'passenger_count': '1',
  'payment_type': 'CSH',
  'pickup_datetime': '2014-11-26T21:59:00.000',
  'pickup_latitude': '40.64499',
  'pickup_longitude': '-73.781149999999997',
  'rate_code': '2',
  'tip_amount': '0',
  'tolls_amount': '5.3300000000000001',
  'total_amount': '57.829999999999998',
  'trip_distance': '18.379999999999999',
  'vendor_id': 'VTS'},
 {'dropoff_datetime': '2014-02-22T17:54:37.000',
  'dropoff_latitude': '40.781844999999997',
  'dropoff_longitude': '-73.979073',
  'fare_amount': '7.5',
  'imp_surcharge': '0',
  'mta_tax': '0.5',
  'passenger_count': '1',
  'payment_type': 'CSH',
  'pickup_datetime': '2014-02-22T17:47:23.000',
  'pickup_latitude': '40.766931',
  'pickup_longitude': '-73.982097999999993',
  'rate_code': '1',
  'store_and_fwd_flag': 'N',
  'tip_amount': '0',
  'tolls_amount': '0',
  'total_amount': '8',
  'trip_distance': '1.3',
  'vendor_id': 'CMT'}]