Graphing 
- bar plot
```python
import plotly
plotly.offline.init_notebook_mode(connected=True)
trace1 = dict(x=[], # list of x values
            y=[], # list of y values
            text=[],
            type="bar", # e.g., text = a list of names 
            name='name of y') #e.g., name ='area' if y is area value 
plotly.offline.iplot([trace1]) #[list of traces]
```
- scatter plot
    - cartesian coordinate system (x-axis, y-axis, 2D data)
```python
import plotly
plotly.offline.init_notebook_mode(connected=True)
trace1 = dict(x=[], # list of x values
            y=[], # list of y values
            mode="markers",
            text=[]) # e.g., text = a list of names 
plotly.offline.iplot([trace1])
or plotly.offline.iplot(dict(data=[trace0], layout={'xaxis': {'dtick': 1}, 'yaxis': {'dtick': 1}})) # set plot layout
```

In [4]:
# installed plotly 05.06.19

In [3]:
# ! pip install plotly==3.3.0

Collecting plotly==3.3.0
  Downloading https://files.pythonhosted.org/packages/d6/3b/abec247e24e2b8f29793811788fe0607062f40eefe3104823ad57f06ecf1/plotly-3.3.0-py2.py3-none-any.whl (37.3MB)
    100% |████████████████████████████████| 37.3MB 1.0MB/s eta 0:00:01    32% |██████████▎                     | 12.0MB 10.1MB/s eta 0:00:03    64% |████████████████████▊           | 24.1MB 3.9MB/s eta 0:00:0482% |██████████████████████████▍     | 30.7MB 9.2MB/s eta 0:00:01
Requirement already satisfied: six in /Users/tingtingli/anaconda3/lib/python3.5/site-packages (from plotly==3.3.0) (1.11.0)
Requirement already satisfied: pytz in /Users/tingtingli/anaconda3/lib/python3.5/site-packages (from plotly==3.3.0) (2017.3)
Requirement already satisfied: nbformat>=4.2 in /Users/tingtingli/anaconda3/lib/python3.5/site-packages (from plotly==3.3.0) (4.4.0)
Requirement already satisfied: decorator>=4.0.6 in /Users/tingtingli/anaconda3/lib/python3.5/site-packages (from plotly==3.3.0) (4.1.2)
Collecting retrying>=1.3.3 (from plotly==3.3.0)
  Downloading https://files.pythonhosted.org/packages/44/ef/beae4b4ef80902f22e3af073397f079c96969c69b2c7d52a57ea9ae61c9d/retrying-1.3.3.tar.gz
Requirement already satisfied: requests in /Users/tingtingli/anaconda3/lib/python3.5/site-packages (from plotly==3.3.0) (2.18.4)
Requirement already satisfied: ipython_genutils in /Users/tingtingli/anaconda3/lib/python3.5/site-packages (from nbformat>=4.2->plotly==3.3.0) (0.2.0)
Requirement already satisfied: traitlets>=4.1 in /Users/tingtingli/anaconda3/lib/python3.5/site-packages (from nbformat>=4.2->plotly==3.3.0) (4.3.2)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/tingtingli/anaconda3/lib/python3.5/site-packages (from nbformat>=4.2->plotly==3.3.0) (2.6.0)
Requirement already satisfied: jupyter_core in /Users/tingtingli/anaconda3/lib/python3.5/site-packages (from nbformat>=4.2->plotly==3.3.0) (4.4.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/tingtingli/anaconda3/lib/python3.5/site-packages (from requests->plotly==3.3.0) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /Users/tingtingli/anaconda3/lib/python3.5/site-packages (from requests->plotly==3.3.0) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /Users/tingtingli/anaconda3/lib/python3.5/site-packages (from requests->plotly==3.3.0) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /Users/tingtingli/anaconda3/lib/python3.5/site-packages (from requests->plotly==3.3.0) (2018.1.18)
Building wheels for collected packages: retrying
  Building wheel for retrying (setup.py) ... done
  Stored in directory: /Users/tingtingli/Library/Caches/pip/wheels/d7/a9/33/acc7b709e2a35caa7d4cae442f6fe6fbf2c43f80823d46460c
Successfully built retrying
Installing collected packages: retrying, plotly
Successfully installed plotly-3.3.0 retrying-1.3.3
You are using pip version 19.0.3, however version 19.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [5]:
import plotly

In [6]:
plotly.offline.init_notebook_mode(connected=True)
# use offline mode to avoid initial registration

In [7]:
trace0 = {'type': 'bar', 'x': ['jack', 'jill', 'sandy', 'blaise'], 'y': [8, 11, 8, 13, 6, 4]}
trace1 = {'type': 'bar', 'x': ['jack', 'jill', 'sandy', 'gob'], 'y': [4, 12, 3, 14, 8, 1]}


plotly.offline.iplot([trace0, trace1])

In [8]:
import pandas as pd

```python
!pip install xlrd  #may need to read older excel files .xls
```

In [10]:
file = 'cities.xlsx'
travel_df = pd.read_excel(file)

In [12]:
cities = travel_df.to_dict('records')
cities

[{'Area': 59, 'City': 'Solta', 'Country': 'Croatia', 'Population': 1700},
 {'Area': 68, 'City': 'Greenville', 'Country': 'USA', 'Population': 84554},
 {'Area': 4758,
  'City': 'Buenos Aires',
  'Country': 'Argentina',
  'Population': 13591863},
 {'Area': 3750,
  'City': 'Los Cabos',
  'Country': 'Mexico',
  'Population': 287651},
 {'Area': 33,
  'City': 'Walla Walla Valley',
  'Country': 'USA',
  'Population': 32237},
 {'Area': 200, 'City': 'Marakesh', 'Country': 'Morocco', 'Population': 928850},
 {'Area': 491,
  'City': 'Albuquerque',
  'Country': 'New Mexico',
  'Population': 559277},
 {'Area': 8300,
  'City': 'Archipelago Sea',
  'Country': 'Finland',
  'Population': 60000},
 {'Area': 672,
  'City': 'Iguazu Falls',
  'Country': 'Argentina',
  'Population': 0},
 {'Area': 27, 'City': 'Salina Island', 'Country': 'Italy', 'Population': 4000},
 {'Area': 2731571, 'City': 'Toronto', 'Country': 'Canada', 'Population': 630},
 {'Area': 3194,
  'City': 'Pyeongchang',
  'Country': 'South Korea',
  'Population': 2581000}]

In [13]:
city_indices = list(range(0,len(cities)))
city_indices # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [14]:
city_names = [city['City'] for city in cities]
city_names

['Solta',
 'Greenville',
 'Buenos Aires',
 'Los Cabos',
 'Walla Walla Valley',
 'Marakesh',
 'Albuquerque',
 'Archipelago Sea',
 'Iguazu Falls',
 'Salina Island',
 'Toronto',
 'Pyeongchang']

In [17]:
names_and_ranks = [] 
# write a for loop that adds the properly formatted string to the names_and_ranks list
for idx in city_indices:
    names_and_ranks.append(str(idx+1)+'. '+city_names[idx])

In [16]:
city_populations = [city['Population']
                    for city in cities]
city_populations

[1700,
 84554,
 13591863,
 287651,
 32237,
 928850,
 559277,
 60000,
 0,
 4000,
 630,
 2581000]

In [20]:
city_areas = [city['Area'] for city in cities]

In [18]:
trace_populations = {'x': names_and_ranks, 
                     'y': city_populations, 
                     'text': names_and_ranks, 
                     'type': 'bar', 
                     'name': 'populations'}

In [21]:
trace_areas = {'x': names_and_ranks, 
               'y': city_areas, 
               'text': names_and_ranks, 
               'type': 'bar', 
               'name': 'areas'}

In [22]:
plotly.offline.iplot([trace_populations, trace_areas])